header {
    text-align: center;
    background-color: #5c686c;
    color: #cdcedf;
}

footer {
    text-align: center;
    background-color: #5c686c;
    color: #cdcedf;
}

.container-fluid {
    height: 100vh;
    background-color: #a1e7eb;    
}

.col-sm {
    border: 1px solid #a9a3a8;
    background-color: pink;
}

.col-info-contact {
    background-color: #26ef78;
    color: #5c686c;
}
